* {
  font-family: "Roboto", serif;
}

.raunakimg {
  width: 100%;
  max-width: 280px;
  height: auto;
  border-radius: 10px; /* Optional: Adds rounded corners */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Soft shadow */
}

.email {
  font-family: "Roboto", serif;
  font-weight: bold;
}
.navitems {
  margin-left: 50%;
}

.about {
  display: flex;
  justify-content: space-around;
}

.fname {
  font-size: 2rem;
  font-weight: bold;
}

.about-text {
  max-width: 500px;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0 auto; /* Centers text */
}

@media (max-width: 990px) {
  .raunakimg {
    width: 100%;
  }
  .about-text {
    max-width: 500px;
    margin: 0 5%;
    line-height: 1.6;
    font-family: "Roboto", serif;
    margin-top: 2%; /* Keep it small to avoid large gaps */
  }
}

.project {
  margin-left: 25%;
}

h2 {
  text-decoration: underline;
}

@media (max-width: 990px) {
  .project {
    margin-left: 5%;
  }
}

.contact {
  width: 25%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 500%;
}

.contact a {
  color: inherit;
}

a:hover {
  color: rgba(0, 119, 255, 0.964);
}

.distance {
  margin: 0 5%;
}

.footerclass {
  background-color: #222; /* Dark background */
  color: white; /* White text */
  text-align: center; /* Center text */
  /* padding: 10px 0; Add some padding */
  font-size: 14px; /* Adjust font size */
}

.footerclass p {
  margin: 0; /* Remove default margin */
}

.working {
  padding: 0 15%;
}

.c404 {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cvhead {
  margin-top: 10%;
}

.skill-card {
  background: #f8f9fa;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  font-weight: bold;
}

.skill-card:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.myskills {
  display: flex;
  justify-content: start;
  text-align: center;
  margin: 0 auto;
}

.project h2 {
  text-align: start;
}

/* @media (width<860px) {
  .myskill-container {
    width: 100%;
  }
} */
